.value-streams {
    .hub-title {
        line-height: 34px;
        vertical-align: middle;
    }
}

.title-left {
    white-space: pre;
    float: left;
}

.title-right {
    float: right;
    margin-top: 5px;
}