.form-container {
    width: 100%;
    max-width: 1000px;
}

.form-create {
    float: right;
    margin: 20px 0;
}

.vsform {
    margin-left: 20px;
}

.form-header {
    margin: 20px 0;
}

.form-line {
    margin-top: 10px;
}